
body{
    background-color: #1987FF;
    font-family: fantasy;
}
body:hover{
    background-color: red;
}
header{
    background-color: #A219FF;
    color: #1987FF;
}
section{
    background-color: #1987FF;
    color: #5B17E8;
}
nav{
    background-color: #1987FF;
    color: #5B17E8;
}
footer{
    background-color: #A219FF;
    color: #1987FF;
}
p{
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 4px #A219FF 
}
p:hover{
    background-color: red;
    box-shadow: 10px 10px 10px 10px#FF4717
}
h1{
    text-shadow: 10px 10px 10px #1744E8
}
h1:hover{
    background-color: yellow;
    box-shadow: 10px 10px 10px 30px#FF4717
}
h2{
    text-shadow: 5px 5px 5px #1744E8
}
h2:hover{
    background-color: black;
    box-shadow: 10px 10px 10px 5px#FF4717
}
h3{
    text-shadow: 3px 3px 3px #1744E8
}
h3:hover{
    background-color: green;
    box-shadow: 10px 10px 10px 5px#FF4717
}
ul:hover{
    background-color: purple;
    box-shadow: 10px 10px 10px 5px#FF4717
}
img.resize{
    width: 50%;
}
img.logo{
    webkit-filter: sepia(100%);
}
a:link{
    color:#FF4717;
}
a:visited{
    color:#FF4717;
}
a:hover{
    color:#FFF700;
}
img:hover{
    box-shadow: 10px 10px 10px 30px#FF4717
}